[Unit]
Description=CSYE 6225 App
After=network.target
After=google-startup-scripts.service

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/app
ExecStart= /usr/bin/node /opt/app/server.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225
EnvironmentFile=/opt/app/.env

[Install]
WantedBy=multi-user.target
